# Import libraries and Data Sets

In [14]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [15]:
# Importing data sets
path = r'C:\Users\Elena\OneDrive\09-2023 Instacart Basket Analysis Petar Kletnikoski'

## Step 3: Import the orders_products_combined

In [16]:
df_ords_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

###  Drop unnamed columns in df_ords_prod_comb (not necessary)

In [61]:
df_ords_prod_comb = df_ords_prod_comb.drop(columns = ['Unnamed: 0', '_merge'])

In [62]:
df_ords_prod_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [46]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [58]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

###  Drop unnamed columns in df_prods (not necessary)

In [56]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

## Step 4: Check the shape of the imported dataframe

In [68]:
df_ords_prod_comb.shape

(32434489, 10)

In [67]:
df_prods.shape

(49672, 5)

# Merging Data

## Step 5 Merging Data Sets

### Answer 5: A suitable way to merge the two dataframes df_prods and df_ords_prods_combined is by the column product_id, found in both dataframes"

In [64]:
df_ords_prods_merged =df_ords_prod_comb.merge(df_prods, on = 'product_id', indicator = True)

## Step 6 Confirm the results of the merge using the merge flag

In [65]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [66]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [70]:
df_ords_prods_merged.shape

(32404859, 15)

## Step 7 Exporting the newly merged dataframe; Using pickle format

In [ ]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))